@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/campus-map.css";
@import "components/bottomsheet.css";
@import "components/modal.css";


/* Screens */
@import "screens/main.css";
@import "screens/home.css";

body {
    font-family: 'Ubuntu', sans-serif;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}