#concert_table {
    width: 98%;
    height: 50%;
    margin-bottom: 100px;
}

#concert_title {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container_concert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.concert-body {
    overflow: auto;
    height: 150vh;
}