#emergency-alarm {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 10px;

}

#emergency-alarm i {
    color: rgba(0, 0, 0, 0.3);
    margin: 0px 5px;
}