#emergency-alarm {
    text-align: center;
    display: block;
    background: rgba(250, 250, 250, 0.6);
    padding: 10px 0px;
    font-size: 10px;
}

#emergency-alarm i {
    color: rgba(0, 0, 0, 0.3);
    margin: 0px 5px;
}

#main_background {
    background: url(/img/home/background.png) no-repeat left top;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-box{
    border-radius: 10px;
    border: 1px solid #c5c3c3;
    padding: 3%;
    background-color: #ECF0F3;
    box-shadow: 18px, 18px, 30px, #D1D9E6;
}

.hidden{
    display: none;
}