.map_background {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 60%;
  background-color: rgb(239, 233, 233);
  border: 1px solid darkgray;
}

.container {
  display: flex;
  width: 100%;
  height: 65vh;
  overflow: auto;
  position: absolute;
  touch-action: manipulation;
}

.map_info{
  display: flex;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  align-content: center;
}

.info_button{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  width: 20px;
  height: 60px;
  background-color: #5DB0E8;
  border-radius: 20px;
  font-weight: 500;
  font-size: larger;
}

.map_info img{
  width: 30%;
  height: 20%;
}


.container::-webkit-scrollbar {
  display: none;
}

.container div {
  min-width: 95%;
  height: 100vh;
}

#campus_map {
  scale: 0.3;
}

.scroll_bar {
  display: flex;
  position: fixed;
  right: 5%;
  top: 35%;
  bottom: 20%;
  width: 2%;
  height: 40%;
  background-color: rgb(176, 196, 238);
  border-radius: 20px;
  justify-content: center;
}

.scroll_bar img{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.scroll_bar span{
  display: none;
  position :absolute;
  left: -50px;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #8e8989;
  padding: 0 auto;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition-duration: all 2s;
}

.scroll_button {
  display: flex;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  text-align: center;
  font-weight: 900;
  color: gray;
  line-height: 7px;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#smu_sumung {
  height: 30px;
  width: 30px;
}