.modal {
    z-index: 10;
    text-align: center;
    width: 450px;
    height: 300px;
    border-radius: 18px;
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 83%);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(6px) saturate(180%);
    box-shadow: 0 1px 8px #0000001a;
}

.modal.open {
    box-shadow: 0 1px 20px #0000001a;
}


.bottom_sheet {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #FFFFFF;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    transition-duration: 1s;
}

.bottom_sheet_handle_wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
}

.bottom_sheet_handle {
    width: 20%;
    height: 10px;
    background-color: #7c7979;
    border-radius: 30px;
    margin-top: 10px;
}

.bottom_box {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition-duration: 2s;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom_box_title {
    font-weight: 600;
    text-decoration: underline;
}

.bottom_box_desc {
    margin-top: 10px;
}

.up_sensor {
    z-index: 1;
    position: absolute;
    background: transparent;
    width: inherit;
    height: 100%;
    bottom: 0;
    height: 10%;
    transition-duration: 1s;
}

/* 바텀시트 박스별 색깔 */

.insa {
    background-color: rgba(255, 127, 127, 0.2);
}

.sabum {
    background-color: rgba(158, 197, 213, 0.2);
}

.gyoung {
    background-color: rgba(243, 205, 173, 0.2);
}

.gong {
    background-color: rgba(203, 159, 253, 0.2);
}

.yeah {
    background-color: rgba(175, 203, 61, 0.2);
}

.chong {
    background-color: rgba(14, 32, 127, 0.2);
}

.you {
    background-color: rgba(207, 195, 181, 0.2);
}

.dong {
    background-color: rgba(252, 206, 226, 0.2);
}

.food {
    background-color: rgba(230, 232, 58, 0.2);
}