.nav {
    display: flex;
    width: 100%;
    background-color: rgba(188, 220, 248, 0.7);
}

.btn-group{
    border : none;
}

.btn{
  transition-duration: 0.5s;
}

.btn-group:active{
    background-color: #78c7d2;
}

/* 
*:focus {
    outline: none;
  }
  
  body {
    min-height: 10vh;
    font-family: "proxima-nova", "Lato", sans-serif;
    background: #ee4f3f;
  }
  body #project-wrapper {
    height: 10vh;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  body #project-wrapper #project-container {
    height: 50px;
    min-width: 100px;
    width: 550px;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }
  body #project-wrapper #project-container nav {
    line-height: 50px;
    font-size: 1em;
    color: white;
    text-align: center;
    position: relative;
  }
  body #project-wrapper #project-container nav p {
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
  }
  body #project-wrapper #project-container nav p:hover {
    opacity: 0.8;
  }
  body #project-wrapper #project-container nav p i {
    margin-left: 2px;
    font-size: 0.9em;
  }
  body #project-wrapper #project-container nav .dropdown {
    display: hidden;
    opacity: 0;
    visibility: hidden;
    margin-top: -20px;
    position: absolute;
    background: white;
    width: 200px;
    z-index: 10000;
    border-radius: 4px;
    left: calc(50% - 235px);
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2);
  }
  body #project-wrapper #project-container nav .dropdown::before {
    content: "";
    position: absolute;
    top: -6px;
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: 10000;
  }
  body #project-wrapper #project-container nav .dropdown.show {
    display: block;
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  body #project-wrapper #project-container nav .dropdown p {
    color: #e74c3c;
    display: block;
    text-align: left;
    padding: 0 18px;
    margin: -4px 0;
  }
  body #project-wrapper #project-container nav .dropdown p:hover {
    opacity: 0.8;
  }
  body #project-wrapper #project-container nav .dropdown p:nth-child(1) {
    padding-top: 4px;
  }
  body #project-wrapper #project-container nav .dropdown p:nth-child(5) {
    padding-bottom: 4px;
  }
  body #dailyui {
    position: fixed;
    font-size: 12em;
    font-weight: 700;
    margin: 0 0 -28px 0;
    padding: 0;
    right: 5px;
    bottom: 0;
    color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-align: right;
    font-family: "proxima-nova", "Lato", sans-serif;
  } */