.screen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px 15px 25px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
    height: 250px;
    width: 250px;
    margin-top: -25%;
    margin-bottom: -25%;
}

.screen-header__icons span {
    margin-left: 20px;
}