.screen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px 0px 25px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
    height: 240px;
    width: 240px;
    margin-top: -27%;
    margin-bottom: -27%;
}

.screen-header__icons span {
    margin-left: 20px;
}